/* ---------- VARIABLES ---------- */
:root {
  --sidebar-width-expanded: 240px;
  --sidebar-width-collapsed: 64px;
}

/* ---------- APP CONTAINER ---------- */
.appContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* ---------- MAIN CONTENT ---------- */
.mainContent {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  height: 100vh;
}


/* ---------- MOBILE ---------- */
@media (max-width: 900px) {
  .appContainer {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0 !important;
  }
}